WebApp/src/conf/xml-resources/web-service-references/publicador/wsdl/localhost_9128/publicador.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://webservice.tprog/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.tprog/">

<xs:complexType name="ctrlUsuarios">
<xs:sequence>
<xs:element name="nicknameU" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nicknameP" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="dtU" type="tns:dtUsuario" minOccurs="0"></xs:element>
<xs:element name="esProveedor" type="xs:boolean"></xs:element>
<xs:element name="empresa" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="web" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="idReserva" type="xs:int"></xs:element>
<xs:element name="idServicio" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtUsuario">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaNacimiento" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>