WebApp/src/conf/xml-resources/web-service-references/publicador/wsdl/localhost_9128/publicador.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.tprog/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.tprog/" name="PublicadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.tprog/" schemaLocation="http://localhost:9128/publicador?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:9128/publicador?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="getCtrlUsuarios"></message>
<message name="getCtrlUsuariosResponse">
<part name="return" type="tns:ctrlUsuarios"></part>
</message>
<message name="nuevoCliente">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="nuevoClienteResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="verServicio">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="verServicioResponse">
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="return" type="ns1:stringArray"></part>
</message>
<portType name="Publicador">
<operation name="getCtrlUsuarios">
<input wsam:Action="http://webservice.tprog/Publicador/getCtrlUsuariosRequest" message="tns:getCtrlUsuarios"></input>
<output wsam:Action="http://webservice.tprog/Publicador/getCtrlUsuariosResponse" message="tns:getCtrlUsuariosResponse"></output>
</operation>
<operation name="nuevoCliente">
<input wsam:Action="http://webservice.tprog/Publicador/nuevoClienteRequest" message="tns:nuevoCliente"></input>
<output wsam:Action="http://webservice.tprog/Publicador/nuevoClienteResponse" message="tns:nuevoClienteResponse"></output>
</operation>
<operation name="verServicio" parameterOrder="arg0 arg1">
<input wsam:Action="http://webservice.tprog/Publicador/verServicioRequest" message="tns:verServicio"></input>
<output wsam:Action="http://webservice.tprog/Publicador/verServicioResponse" message="tns:verServicioResponse"></output>
</operation>
</portType>
<binding name="PublicadorPortBinding" type="tns:Publicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="getCtrlUsuarios">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="nuevoCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="verServicio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorService">
<port name="PublicadorPort" binding="tns:PublicadorPortBinding">
<soap:address location="http://localhost:9128/publicador"></soap:address>
</port>
</service>
</definitions>