WebApp/src/conf/xml-resources/web-service-references/publicador/wsdl/localhost_9128/publicador.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://webservice.tprog/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.tprog/">

<xs:complexType name="dtMinServicio">
<xs:sequence>
<xs:element name="nicknameP" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="idServicio" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtMinPromocion">
<xs:sequence>
<xs:element name="nicknameP" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="idPromocion" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtUbicacion">
<xs:sequence>
<xs:element name="ciudad" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="pais" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtServicio">
<xs:sequence>
<xs:element name="idServicio" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nicknameProveedor" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="precio" type="xs:float"></xs:element>
<xs:element name="imagenes" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="origen" type="tns:dtUbicacion" minOccurs="0"></xs:element>
<xs:element name="destino" type="tns:dtUbicacion" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtPromocion">
<xs:sequence>
<xs:element name="idPromocion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nicknameProveedor" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descuento" type="xs:float"></xs:element>
<xs:element name="total" type="xs:float"></xs:element>
<xs:element name="servicios">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="tns:dtMinServicio"></xs:element>
<xs:element name="value" minOccurs="0" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="defaultMutableTreeNode">
<xs:sequence>
<xs:element name="allowsChildren" type="xs:boolean"></xs:element>
<xs:element name="userObject" type="xs:anyType" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtMinServicioArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:dtMinServicio" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtServicioArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:dtServicio" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtMinPromocionArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:dtMinPromocion" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtPromocionArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:dtPromocion" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>