WebApp/web/WEB-INF/wsdl/localhost_9128/publicadorverservicio.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://webservice.tprog/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.tprog/">

<xs:complexType name="wrapperVerServicio">
<xs:sequence>
<xs:element name="dtServicio" type="tns:dtServicio" minOccurs="0"></xs:element>
<xs:element name="categorias" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="imagenes" type="xs:base64Binary" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtServicio">
<xs:sequence>
<xs:element name="idServicio" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nicknameProveedor" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="precio" type="xs:float"></xs:element>
<xs:element name="imagenes" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="origen" type="tns:dtUbicacion" minOccurs="0"></xs:element>
<xs:element name="destino" type="tns:dtUbicacion" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtUbicacion">
<xs:sequence>
<xs:element name="ciudad" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="pais" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>