WebApp/web/WEB-INF/wsdl/localhost_9128/publicador.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.tprog/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.tprog/" name="PublicadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.tprog/" schemaLocation="http://localhost:9128/publicador?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="verServicio">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="verServicioResponse">
<part name="return" type="tns:wrapperVerServicio"></part>
</message>
<message name="verPromocion">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="verPromocionResponse">
<part name="return" type="tns:wrapperVerPromocion"></part>
</message>
<message name="seleccionarInfoServicio">
<part name="arg0" type="tns:dtMinServicio"></part>
</message>
<message name="seleccionarInfoServicioResponse">
<part name="return" type="tns:dtServicio"></part>
</message>
<message name="verInfoProveedor">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="verInfoProveedorResponse">
<part name="return" type="tns:wrapperVerInfoProveedor"></part>
</message>
<message name="verPerfilCliente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="verPerfilClienteResponse">
<part name="return" type="tns:wrapperVerPerfilCliente"></part>
</message>
<message name="verPerfilProveedor">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="verPerfilProveedorResponse">
<part name="return" type="tns:dtProveedor"></part>
</message>
<message name="toString">
<part name="arg0" type="xsd:anyType"></part>
</message>
<message name="toStringResponse">
<part name="return" type="xsd:string"></part>
</message>
<portType name="Publicador">
<operation name="verServicio" parameterOrder="arg0 arg1">
<input wsam:Action="http://webservice.tprog/Publicador/verServicioRequest" message="tns:verServicio"></input>
<output wsam:Action="http://webservice.tprog/Publicador/verServicioResponse" message="tns:verServicioResponse"></output>
</operation>
<operation name="verPromocion" parameterOrder="arg0 arg1">
<input wsam:Action="http://webservice.tprog/Publicador/verPromocionRequest" message="tns:verPromocion"></input>
<output wsam:Action="http://webservice.tprog/Publicador/verPromocionResponse" message="tns:verPromocionResponse"></output>
</operation>
<operation name="seleccionarInfoServicio">
<input wsam:Action="http://webservice.tprog/Publicador/seleccionarInfoServicioRequest" message="tns:seleccionarInfoServicio"></input>
<output wsam:Action="http://webservice.tprog/Publicador/seleccionarInfoServicioResponse" message="tns:seleccionarInfoServicioResponse"></output>
</operation>
<operation name="verInfoProveedor">
<input wsam:Action="http://webservice.tprog/Publicador/verInfoProveedorRequest" message="tns:verInfoProveedor"></input>
<output wsam:Action="http://webservice.tprog/Publicador/verInfoProveedorResponse" message="tns:verInfoProveedorResponse"></output>
</operation>
<operation name="verPerfilCliente">
<input wsam:Action="http://webservice.tprog/Publicador/verPerfilClienteRequest" message="tns:verPerfilCliente"></input>
<output wsam:Action="http://webservice.tprog/Publicador/verPerfilClienteResponse" message="tns:verPerfilClienteResponse"></output>
</operation>
<operation name="verPerfilProveedor">
<input wsam:Action="http://webservice.tprog/Publicador/verPerfilProveedorRequest" message="tns:verPerfilProveedor"></input>
<output wsam:Action="http://webservice.tprog/Publicador/verPerfilProveedorResponse" message="tns:verPerfilProveedorResponse"></output>
</operation>
<operation name="toString">
<input wsam:Action="http://webservice.tprog/Publicador/toStringRequest" message="tns:toString"></input>
<output wsam:Action="http://webservice.tprog/Publicador/toStringResponse" message="tns:toStringResponse"></output>
</operation>
</portType>
<binding name="PublicadorPortBinding" type="tns:Publicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="verServicio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="verPromocion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="seleccionarInfoServicio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="verInfoProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="verPerfilCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="verPerfilProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="toString">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorService">
<port name="PublicadorPort" binding="tns:PublicadorPortBinding">
<soap:address location="http://localhost:9128/publicador"></soap:address>
</port>
</service>
</definitions>