WebApp/web/WEB-INF/wsdl/localhost_9128/publicador.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.tprog/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.tprog/" name="PublicadorProductosService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.tprog/" schemaLocation="http://localhost:9128/publicador?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="infoMinPromocion"></message>
<message name="infoMinPromocionResponse">
<part name="return" type="tns:dtMinPromocion"></part>
</message>
<message name="infoMinServicio"></message>
<message name="infoMinServicioResponse">
<part name="return" type="tns:dtMinServicio"></part>
</message>
<message name="listarPromociones"></message>
<message name="listarPromocionesResponse">
<part name="return" type="tns:wrapperSet"></part>
</message>
<message name="seleccionarPromocion">
<part name="arg0" type="tns:dtMinPromocion"></part>
</message>
<message name="seleccionarPromocionResponse"></message>
<message name="infoPromocion"></message>
<message name="infoPromocionResponse">
<part name="return" type="tns:dtPromocion"></part>
</message>
<message name="seleccionarServicio">
<part name="arg0" type="tns:dtMinServicio"></part>
</message>
<message name="seleccionarServicioResponse"></message>
<message name="infoServicio"></message>
<message name="infoServicioResponse">
<part name="return" type="tns:dtServicio"></part>
</message>
<message name="listarCategorias"></message>
<message name="listarCategoriasResponse">
<part name="return" type="tns:wrapperDefaultMutableTreeNode"></part>
</message>
<message name="listarServiciosCategoria">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarServiciosCategoriaResponse">
<part name="return" type="tns:wrapperSet"></part>
</message>
<message name="listarServicios"></message>
<message name="listarServiciosResponse">
<part name="return" type="tns:wrapperSet"></part>
</message>
<message name="cambiarPrecio">
<part name="arg0" type="xsd:float"></part>
</message>
<message name="cambiarPrecioResponse"></message>
<message name="cambiarDescripcion">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="cambiarDescripcionResponse"></message>
<message name="listarImagenes"></message>
<message name="listarImagenesResponse">
<part name="return" type="tns:wrapperSet"></part>
</message>
<message name="agregarImagen">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="agregarImagenResponse"></message>
<message name="quitarImagen">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="quitarImagenResponse"></message>
<message name="listarCiudades"></message>
<message name="listarCiudadesResponse">
<part name="return" type="tns:wrapperDefaultMutableTreeNode"></part>
</message>
<message name="cambiarOrigen">
<part name="arg0" type="tns:dtUbicacion"></part>
</message>
<message name="cambiarOrigenResponse"></message>
<message name="cambiarDestino">
<part name="arg0" type="tns:dtUbicacion"></part>
</message>
<message name="cambiarDestinoResponse"></message>
<message name="listarCategoriasServicio"></message>
<message name="listarCategoriasServicioResponse">
<part name="return" type="tns:wrapperSet"></part>
</message>
<message name="agregarCategoria">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="agregarCategoriaResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="quitarCategoria">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="quitarCategoriaResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="seleccionarCategoriaPadre">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="seleccionarCategoriaPadreResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="idCategoriaDisponible">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="idCategoriaDisponibleResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="altaCategoria"></message>
<message name="altaCategoriaResponse"></message>
<message name="seleccionarProveedor">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="seleccionarProveedorResponse"></message>
<message name="idServicioDisponible">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="idServicioDisponibleResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="seleccionarOrigen">
<part name="arg0" type="tns:dtUbicacion"></part>
</message>
<message name="seleccionarOrigenResponse"></message>
<message name="seleccionarDestino">
<part name="arg0" type="tns:dtUbicacion"></part>
</message>
<message name="seleccionarDestinoResponse"></message>
<message name="seleccionarCategoriaSimple">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="seleccionarCategoriaSimpleResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="quitarCategoriaListada">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="quitarCategoriaListadaResponse"></message>
<message name="altaServicio">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:float"></part>
<part name="arg2" type="tns:arrayList"></part>
</message>
<message name="altaServicioResponse"></message>
<message name="agregarServicio">
<part name="arg0" type="tns:dtMinServicio"></part>
</message>
<message name="agregarServicioResponse"></message>
<message name="idPromocionDisponible">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="idPromocionDisponibleResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="altaPromocion">
<part name="arg0" type="xsd:float"></part>
</message>
<message name="altaPromocionResponse"></message>
<message name="listarServiciosPorTermino">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarServiciosPorTerminoResponse">
<part name="return" type="tns:wrapperSet"></part>
</message>
<message name="listarPromocionesPorTermino">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarPromocionesPorTerminoResponse">
<part name="return" type="tns:wrapperSet"></part>
</message>
<portType name="PublicadorProductos">
<operation name="infoMinPromocion">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/infoMinPromocionRequest" message="tns:infoMinPromocion"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/infoMinPromocionResponse" message="tns:infoMinPromocionResponse"></output>
</operation>
<operation name="infoMinServicio">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/infoMinServicioRequest" message="tns:infoMinServicio"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/infoMinServicioResponse" message="tns:infoMinServicioResponse"></output>
</operation>
<operation name="listarPromociones">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/listarPromocionesRequest" message="tns:listarPromociones"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/listarPromocionesResponse" message="tns:listarPromocionesResponse"></output>
</operation>
<operation name="seleccionarPromocion">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/seleccionarPromocionRequest" message="tns:seleccionarPromocion"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/seleccionarPromocionResponse" message="tns:seleccionarPromocionResponse"></output>
</operation>
<operation name="infoPromocion">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/infoPromocionRequest" message="tns:infoPromocion"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/infoPromocionResponse" message="tns:infoPromocionResponse"></output>
</operation>
<operation name="seleccionarServicio">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/seleccionarServicioRequest" message="tns:seleccionarServicio"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/seleccionarServicioResponse" message="tns:seleccionarServicioResponse"></output>
</operation>
<operation name="infoServicio">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/infoServicioRequest" message="tns:infoServicio"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/infoServicioResponse" message="tns:infoServicioResponse"></output>
</operation>
<operation name="listarCategorias">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/listarCategoriasRequest" message="tns:listarCategorias"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/listarCategoriasResponse" message="tns:listarCategoriasResponse"></output>
</operation>
<operation name="listarServiciosCategoria">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/listarServiciosCategoriaRequest" message="tns:listarServiciosCategoria"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/listarServiciosCategoriaResponse" message="tns:listarServiciosCategoriaResponse"></output>
</operation>
<operation name="listarServicios">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/listarServiciosRequest" message="tns:listarServicios"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/listarServiciosResponse" message="tns:listarServiciosResponse"></output>
</operation>
<operation name="cambiarPrecio">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/cambiarPrecioRequest" message="tns:cambiarPrecio"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/cambiarPrecioResponse" message="tns:cambiarPrecioResponse"></output>
</operation>
<operation name="cambiarDescripcion">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/cambiarDescripcionRequest" message="tns:cambiarDescripcion"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/cambiarDescripcionResponse" message="tns:cambiarDescripcionResponse"></output>
</operation>
<operation name="listarImagenes">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/listarImagenesRequest" message="tns:listarImagenes"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/listarImagenesResponse" message="tns:listarImagenesResponse"></output>
</operation>
<operation name="agregarImagen">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/agregarImagenRequest" message="tns:agregarImagen"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/agregarImagenResponse" message="tns:agregarImagenResponse"></output>
</operation>
<operation name="quitarImagen">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/quitarImagenRequest" message="tns:quitarImagen"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/quitarImagenResponse" message="tns:quitarImagenResponse"></output>
</operation>
<operation name="listarCiudades">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/listarCiudadesRequest" message="tns:listarCiudades"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/listarCiudadesResponse" message="tns:listarCiudadesResponse"></output>
</operation>
<operation name="cambiarOrigen">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/cambiarOrigenRequest" message="tns:cambiarOrigen"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/cambiarOrigenResponse" message="tns:cambiarOrigenResponse"></output>
</operation>
<operation name="cambiarDestino">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/cambiarDestinoRequest" message="tns:cambiarDestino"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/cambiarDestinoResponse" message="tns:cambiarDestinoResponse"></output>
</operation>
<operation name="listarCategoriasServicio">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/listarCategoriasServicioRequest" message="tns:listarCategoriasServicio"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/listarCategoriasServicioResponse" message="tns:listarCategoriasServicioResponse"></output>
</operation>
<operation name="agregarCategoria">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/agregarCategoriaRequest" message="tns:agregarCategoria"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/agregarCategoriaResponse" message="tns:agregarCategoriaResponse"></output>
</operation>
<operation name="quitarCategoria">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/quitarCategoriaRequest" message="tns:quitarCategoria"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/quitarCategoriaResponse" message="tns:quitarCategoriaResponse"></output>
</operation>
<operation name="seleccionarCategoriaPadre">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/seleccionarCategoriaPadreRequest" message="tns:seleccionarCategoriaPadre"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/seleccionarCategoriaPadreResponse" message="tns:seleccionarCategoriaPadreResponse"></output>
</operation>
<operation name="idCategoriaDisponible">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/idCategoriaDisponibleRequest" message="tns:idCategoriaDisponible"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/idCategoriaDisponibleResponse" message="tns:idCategoriaDisponibleResponse"></output>
</operation>
<operation name="altaCategoria">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/altaCategoriaRequest" message="tns:altaCategoria"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/altaCategoriaResponse" message="tns:altaCategoriaResponse"></output>
</operation>
<operation name="seleccionarProveedor">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/seleccionarProveedorRequest" message="tns:seleccionarProveedor"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/seleccionarProveedorResponse" message="tns:seleccionarProveedorResponse"></output>
</operation>
<operation name="idServicioDisponible">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/idServicioDisponibleRequest" message="tns:idServicioDisponible"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/idServicioDisponibleResponse" message="tns:idServicioDisponibleResponse"></output>
</operation>
<operation name="seleccionarOrigen">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/seleccionarOrigenRequest" message="tns:seleccionarOrigen"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/seleccionarOrigenResponse" message="tns:seleccionarOrigenResponse"></output>
</operation>
<operation name="seleccionarDestino">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/seleccionarDestinoRequest" message="tns:seleccionarDestino"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/seleccionarDestinoResponse" message="tns:seleccionarDestinoResponse"></output>
</operation>
<operation name="seleccionarCategoriaSimple">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/seleccionarCategoriaSimpleRequest" message="tns:seleccionarCategoriaSimple"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/seleccionarCategoriaSimpleResponse" message="tns:seleccionarCategoriaSimpleResponse"></output>
</operation>
<operation name="quitarCategoriaListada">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/quitarCategoriaListadaRequest" message="tns:quitarCategoriaListada"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/quitarCategoriaListadaResponse" message="tns:quitarCategoriaListadaResponse"></output>
</operation>
<operation name="altaServicio" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/altaServicioRequest" message="tns:altaServicio"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/altaServicioResponse" message="tns:altaServicioResponse"></output>
</operation>
<operation name="agregarServicio">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/agregarServicioRequest" message="tns:agregarServicio"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/agregarServicioResponse" message="tns:agregarServicioResponse"></output>
</operation>
<operation name="idPromocionDisponible">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/idPromocionDisponibleRequest" message="tns:idPromocionDisponible"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/idPromocionDisponibleResponse" message="tns:idPromocionDisponibleResponse"></output>
</operation>
<operation name="altaPromocion">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/altaPromocionRequest" message="tns:altaPromocion"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/altaPromocionResponse" message="tns:altaPromocionResponse"></output>
</operation>
<operation name="listarServiciosPorTermino">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/listarServiciosPorTerminoRequest" message="tns:listarServiciosPorTermino"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/listarServiciosPorTerminoResponse" message="tns:listarServiciosPorTerminoResponse"></output>
</operation>
<operation name="listarPromocionesPorTermino">
<input wsam:Action="http://webservice.tprog/PublicadorProductos/listarPromocionesPorTerminoRequest" message="tns:listarPromocionesPorTermino"></input>
<output wsam:Action="http://webservice.tprog/PublicadorProductos/listarPromocionesPorTerminoResponse" message="tns:listarPromocionesPorTerminoResponse"></output>
</operation>
</portType>
<binding name="PublicadorProductosPortBinding" type="tns:PublicadorProductos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="infoMinPromocion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="infoMinServicio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="listarPromociones">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="seleccionarPromocion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="infoPromocion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="seleccionarServicio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="infoServicio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="listarCategorias">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="listarServiciosCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="listarServicios">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="cambiarPrecio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="cambiarDescripcion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="listarImagenes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="agregarImagen">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="quitarImagen">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="listarCiudades">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="cambiarOrigen">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="cambiarDestino">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="listarCategoriasServicio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="agregarCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="quitarCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="seleccionarCategoriaPadre">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="idCategoriaDisponible">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="altaCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="seleccionarProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="idServicioDisponible">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="seleccionarOrigen">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="seleccionarDestino">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="seleccionarCategoriaSimple">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="quitarCategoriaListada">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="altaServicio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="agregarServicio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="idPromocionDisponible">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="altaPromocion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="listarServiciosPorTermino">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
<operation name="listarPromocionesPorTermino">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice.tprog/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorProductosService">
<port name="PublicadorProductosPort" binding="tns:PublicadorProductosPortBinding">
<soap:address location="http://localhost:9128/publicador"></soap:address>
</port>
</service>
</definitions>